
.contentInformationGeneral {
    color: $color-font;
}
.detailsTimeline {
    flex-direction: column;
}
.contentKnow {
    display: flex;
    .titleKnowledge {
        margin-top: 2px;
    }
}

.contentCards {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    .cardInfo{
        flex: 0 0 20% !important;
        min-width: 300px !important;
        margin-right: 10px !important;
        margin-left: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        .cardDate {
            text-align: center !important;
            background-color: #0487cc;
            color: #ffff;
            top: -32px;
            padding: 18px 28px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            margin-bottom: 15px !important;
        }
        .iconCard {
            margin-right: 5px !important;
            position: relative;
            top: 5px !important;
        }
        .titlesCard {
            color: #757575 !important;
            margin-bottom: 5px !important;
        }
        .contentInformationCard {
            text-align: justify !important;
            margin-top: 5px;
            margin-bottom: 5px;
            line-height: 20px;
        }
        .cardContentGeneral {
            //padding: 0 !important;
            .containerImg {
                position: relative;
                clip-path: polygon(0 0,100% 0, 100% 92%, 0 100%);
                img {
                    width: 100% !important;
                    display: block !important;
                    height: 350px !important;
                }
            }
            /* .details {
                padding: 16px !important;
            } */
        }
    }
}
/*
 * Pantallas de Celular
 */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .contentRoot{
        .mainInformationContent{
            font-size: 16px !important;
            margin-top: 5px !important;
        }
        .contentInformation {
            display: block !important;
            .heading {
                font-size: $font-size-text;
                flex-basis: 33.33%;
                flex-shrink: 0;
            }
            .dividerVertical {
                width: 100%;
                margin-right: 20px;
                min-height: 80px;
                &.darkgray {
                    background-color: $background-darkgray;
                }
                &.lightgray {
                    background-color: $background-lightgray;
                }
                &.profile {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .profilePhoto {
                    width: 160px !important;
                    height: 160px !important;
                    margin-right: auto !important;
                    margin-left: auto !important;
                }
            }
            .contentHeader {
                width: 100% !important;
                padding-left: 16px !important;
                padding-top: 16px !important;
                padding-bottom: 16px !important;
                .informationCard {
                    svg {
                        font-size: 1.3rem !important;
                        position: relative;
                        top: 4px;
                    }
                }
                .social_networks {
                    justify-content: center;
                }
            }
            .titlesInformation {
                text-transform: uppercase;
                font-size: 1.2rem;
                color: $color-font-titles;
                text-align: center;
                line-height: 5;
            }
            .profileProfessional {
                text-align: justify !important;
                font-size: $font-size-text !important;
            }
            .accordionCard{
                width: 200px;
            }
            .detailsTimeline {
                .seccionsTimeline {
                    font-size: 14px !important;
                    .iconTimeline {
                        margin-right: 5px !important;
                        position: relative;
                        top: -3px !important;
                    }
                }
                .functionsTimeline {
                    font-size: 14px !important;
                    text-align: justify;
                }
            }
            .contentKnowledge {
                width: 100%;
                .knowledge{
                    margin-right: 15px;
                    margin-left: 15px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*
 * Pantallas de Tablets
 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .contentRoot{
        .mainInformationContent{
            font-size: 16px !important;
            margin-top: 5px !important;
        }
        .contentInformation {
            display: block !important;
            .heading {
                font-size: $font-size-text;
                flex-basis: 33.33%;
                flex-shrink: 0;
            }
            .dividerVertical {
                width: 100%;
                margin-right: 20px;
                min-height: 80px;
                &.darkgray {
                    background-color: $background-darkgray;
                }
                &.lightgray {
                    background-color: $background-lightgray;
                }
                &.profile {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .profilePhoto {
                    width: 160px !important;
                    height: 160px !important;
                    margin-right: auto !important;
                    margin-left: auto !important;
                }
            }
            .contentHeader {
                width: 100% !important;
                padding-left: 16px !important;
                padding-top: 16px !important;
                padding-bottom: 16px !important;
                .informationCard {
                    svg {
                        font-size: 1.3rem !important;
                        position: relative;
                        top: 4px;
                    }
                }
                .social_networks {
                    justify-content: center;
                }
            }
            .titlesInformation {
                text-transform: uppercase;
                font-size: 1.2rem;
                color: $color-font-titles;
                text-align: center;
                line-height: 5;
            }
            .profileProfessional {
                text-align: justify !important;
                font-size: $font-size-text !important;
            }
            .contentKnowledge {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .knowledge{
                    width: 47%;
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*
 * Pantallas de Portatiles o mas Grandes
 */
@media only screen and (min-width: 769px) {
    .contentRoot{
        //margin-top: 80px !important;
        background-color: #efefef;
        .mainInformationContent{
            font-size: 1.01rem !important;
            margin-top: 5px !important;
        }
        .contentInformation {
            display: flex !important;
            //margin-top: 20px;
            //margin-bottom: 20px;
            /* .colorFrame {
                background-color: rgba(170, 170, 170, 0.769);
            } */
            .heading {
                font-size: 1rem;
                flex-basis: 33.33%;
                flex-shrink: 0;
            }
            .dividerVertical {
                //margin-top: auto !important;
                //margin-bottom: auto !important;
                min-width: 250px;
                margin-right: 20px;
                &.darkgray {
                    background-color: #eaeaea;
                }
                &.lightgray {
                    background-color: #f8f8f8;
                }
            }
            .detailsTimeline {
                //flex-direction: column;
                .iconTimeline {
                    margin-right: 5px !important;
                    position: relative;
                    top: -3px !important;
                    //color: #757575 !important;
                }
                .functionsTimeline {
                    text-align: justify;
                }
            }
        }
        .profileProfessional {
            text-align: justify !important;
            font-size: 1.01rem !important;
        }
        .profilePhoto {
            width: 160px !important;
            height: 160px !important;
            margin-right: 30px !important;
            margin-left: 30px !important;
            margin-top: 40px !important;
        }
        .titlesInformation {
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $color-font-titles;
            margin-right: 30px !important;
            margin-left: 30px !important;
            //margin-top: auto !important;
            //margin-bottom: auto !important;
            text-align: center;
            position: relative;
            top: 40%;
        }
        .contentHeader {
            width: 100% !important;
            padding-left: 16px !important;
            padding-top: 16px !important;
            padding-bottom: 16px !important;
        }
        .MuiAccordionSummary-content {
            display: block !important;
        }
        
        .contentKnowledge {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .knowledge{
                width: 30%;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

/*
 * Pantallas de Imprimir
 */
@media only print {
    /* a:after {
        content: " (" attr(href) ")";
    } */
    .contentRoot{
        -webkit-print-color-adjust: exact;
        //margin-top: 80px !important;
        background-color: #efefef;
        .mainInformationContent{
            font-size: 1.01rem !important;
            margin-top: 5px !important;
        }
        .contentInformation {
            display: flex !important;
            //margin-top: 20px;
            //margin-bottom: 20px;
            /* .colorFrame {
                background-color: rgba(170, 170, 170, 0.769);
            } */
            .heading {
                font-size: 1rem;
                flex-basis: 33.33%;
                flex-shrink: 0;
            }
            .dividerVertical {
                //margin-top: auto !important;
                //margin-bottom: auto !important;
                min-width: 250px;
                margin-right: 20px;
                &.darkgray {
                    background-color: #eaeaea;
                }
                &.lightgray {
                    background-color: #f8f8f8;
                }
            }
            .detailsTimeline {
                //flex-direction: column;
                .iconTimeline {
                    margin-right: 5px !important;
                    position: relative;
                    top: -3px !important;
                    //color: #757575 !important;
                }
                .functionsTimeline {
                    text-align: justify;
                }
            }
        }
        .profileProfessional {
            text-align: justify !important;
            font-size: 1.01rem !important;
        }
        .profilePhoto {
            width: 160px !important;
            height: 160px !important;
            margin-right: 30px !important;
            margin-left: 30px !important;
            margin-top: 40px !important;
        }
        .titlesInformation {
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $color-font-titles;
            margin-right: 30px !important;
            margin-left: 30px !important;
            //margin-top: auto !important;
            //margin-bottom: auto !important;
            text-align: center;
            position: relative;
            top: 40%;
        }
        .contentHeader {
            width: 100% !important;
            padding-left: 16px !important;
            padding-top: 16px !important;
            padding-bottom: 16px !important;
        }
        .MuiAccordionSummary-content {
            display: block !important;
        }
        
        .contentKnowledge {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .knowledge{
                width: 30%;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

footer {
    background-color: #eaeaea !important;
}
