.informationCard {
    margin: 20px 0 20px 0 !important;
    .mainInformation {
        display: flex !important;
        .mainInformationContent {
            color: #a4a5a6;
            margin: 0;
            margin-left: 10px !important;
            &:hover {
                color: #1976d2;
            }
        }
        &:hover {
            color: #1976d2;
        }
    }
}

.social_networks {
    display: flex;
    margin-top: 10px !important;
    .linkedin {
        background-color: rgb(0, 115, 177) !important;
        margin-right: 10px !important;
    }
    .whatsapp {
        background-color: rgb(6, 215, 85) !important;
        margin-right: 10px !important;
    }
}

.iconKnowledge {
    margin-right: 15px;
    max-width: 60px;
    &.docker {
        color: #0073ec !important;
    }
    &.angular {
        color: #dd0031 !important;
    }
    &.react {
        color: #61dafb !important;
    }
    &.windows {
        color: #05a6f0 !important;
    }
}